<div class="navbar">
    <a routerLink="/patients">Afficher les patients</a>
    <a routerLink="/patients/create">Ajouter un patient</a>    
    <a routerLink="/infirmieres">Afficher les infirmiers</a>
    <a routerLink="/infirmieres/create">Ajouter un infirmier</a>
</div>