<form [formGroup]="infirmiereForm" (ngSubmit)="addInfirmiere()">
    <div class="form-item">
        <label for="nom">Nom</label>
        <input type="text" id="nom" formControlName="nom" />
      </div>
      <div class="form-item">
        <label for="prenom">prenom</label
        ><input type="text" id="prenom" formControlName="prenom" />
      </div>
      <div class="form-item">
        <label for="tel_pro">Numero de telephone Professionnel</label
        ><input type="text" id="tel_pro" formControlName="tel_pro" />
      </div>
      <div class="form-item">
          <label for="tel_perso">Numero de telephone Personnel</label
          ><input type="text" id="tel_perso" formControlName="tel_perso" />
      </div>
      <div class="form-item">
          <label for="numero_professionnel">Numero Professionnel</label
          ><input type="number" id="numero_professionnel" formControlName="numero_professionnel" />
      </div>
      <!-- Adresse -->
      <div class="form-group" formGroupName="adresseinfirmiere">
        <div class="form-item">
          <label for="rue">Rue</label
          ><input type="text" id="rue" formControlName="rue" />
        </div>
        <div class="form-item">
          <label for="numero">Numéro</label
          ><input type="text" id="numero" formControlName="numero" />
        </div>
        <div class="form-item">
          <label for="ville">Ville</label
          ><input type="text" id="ville" formControlName="ville" />
        </div>
        <div class="form-item">
          <label for="cp">Code postal</label
          ><input type="text" id="cp" formControlName="cp" />
        </div>
    </div>

  
    

    <button type="submit">Enregistrer l'infirmiere</button>
</form>
  