<form [formGroup]="patientForm" (ngSubmit)="addPatient()">
    <div class="form-item">
        <label for="nom">Nom</label>
        <input type="text" id="nom" formControlName="nom" />
      </div>
      <div class="form-item">
        <label for="prenom">prenom</label
        ><input type="text" id="prenom" formControlName="prenom" />
      </div>
      <div class="form-item">
        <label for="sexe">Sexe</label
        ><input type="text" id="sexe" formControlName="sexe" />
      </div>
      <div class="form-item">
          <label for="numero_securite_sociale">Numero Securite Sociale</label
          ><input type="sexe" id="numero_securite_sociale" formControlName="numero_securite_sociale" />
      </div>
      <div class="form-item">
          <label for="date_de_naissance">Date de Naissance</label
          ><input type="date" id="date_de_naissance" formControlName="date_de_naissance" />
      </div>
      <!-- Adresse -->
      <div class="form-group" formGroupName="adressepatient">
        <div class="form-item">
          <label for="rue">Rue</label
          ><input type="text" id="rue" formControlName="rue" />
        </div>
        <div class="form-item">
          <label for="numero">Numéro</label
          ><input type="text" id="numero" formControlName="numero" />
        </div>
        <div class="form-item">
          <label for="ville">Ville</label
          ><input type="text" id="ville" formControlName="ville" />
        </div>
        <div class="form-item">
          <label for="cp">Code postal</label
          ><input type="text" id="cp" formControlName="cp" />
        </div>
    </div>
            
      <div class="form-group" formGroupName="infirmiere">
  
          <div class="form-item">
              <label for="infirmiere">Identifiant Infirmière</label
              ><input type="number" id="id" formControlName="id" />
          </div>
      </div>
  
    

    <button type="submit">Enregistrer le patient</button>
</form>
  