<div class="card">
  <div class="card-header">{{ patient.nom }} {{ patient.prenom }}<button (click)="delete(patient)">&times;</button>
  </div>
  <div class="card-body">
    <ul>
      <li>Sexe: {{ patient.sexe }}</li>
      <li>Numero de Sécurité Sociale: {{patient.numero_securite_sociale}}</li>
      <li>Sexe: {{ patient.sexe }}</li>
      <li>Date de Naissance: {{ patient.date_de_naissance }}</li>
    </ul>
    <p>Adresse :
      {{ patient.adressepatient.numero }} {{ patient.adressepatient.rue }} {{ patient.adressepatient.cp }}
      {{ patient.adressepatient.ville }}
    </p>
  </div>
  <div class="card-footer">
    <p>Infimière : {{ patient.infirmiere.nom }} {{ patient.infirmiere.prenom }}</p>
    <!-- <a [href]="'tel:'">Appeler </a> -->
  </div>
</div>
