<p>Ma liste d'infirmières</p>

<div class="flex">
    <app-infirmiere-card *ngFor="let infirmiere of infirmieres"  [infirmiere]="infirmiere" (infirmiereDelete)="getInfirmieres()"></app-infirmiere-card>
</div>