<div class="card">
    <div class="card-header">{{ infirmiere.nom }} {{ infirmiere.prenom }}
    </div>
    <div class="card-body">
      <ul>
        <li>Numero de professionnel: {{infirmiere.numero_professionnel}}</li>
      </ul>
      <p>Adresse :
        {{ infirmiere.adresseinfirmiere.numero }} {{ infirmiere.adresseinfirmiere.rue }} {{ infirmiere.adresseinfirmiere.cp }}
        {{ infirmiere.adresseinfirmiere.ville }}
      </p>
    </div>
    <div class="card-footer">
      <!-- <p>Infimière : {{ infirmiere.infirmiere.nom }} {{ infirmiere.infirmiere.prenom }}</p> -->
      <a [href]="'tel:${{infirmiere.tel_pro}}'">Appeler numéro professionnel : {{infirmiere.tel_pro}}</a><br/>
      <a [href]="'tel:${{infirmiere.tel_perso}}'">Appeler numéro personnel : {{infirmiere.tel_perso}}</a><br/>
      <button (click)=displayDeplacements(infirmiere)>Afficher les déplacements</button>
      <button (click)="delete(infirmiere)">&times;</button>
    </div>
  </div>
  